$primary-color: #052F60;
$secondary-color: #DFAC2C;
$light-white-color: #8c8c8c;
$white-color: #fafafa;
$smartphone: "(min-width: 0px) and (max-width: 599px)";
$tablet: "(min-width: 600px) and (max-width: 900px)";
/* sidebar */
.sidebar {
    height: 50vh;
    padding: 10px;
    margin-top: 10px;
    background: #f2f2f2;
    ul {
        padding: 10px;
        border-radius: 10px;
        li {
            margin-bottom: 10px;
            a {
                display: block;
                padding: 1px 10px 5px 10px;
                border-radius: 10px;
                .title {
                    color: $secondary-color;
                    margin-bottom: 3px;
                    margin-top: 7px;
                    &:hover {
                        color: $primary-color;
                        transition: 0.5s;
                    }
                }
                &:hover {
                    transition: 1s;
                }
            }
        }
    }
}

@media #{$smartphone} {
    .sidebar {
        border-left: none;
        padding-left: 0px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
}
@media #{$tablet} {
    .sidebar {
        border-left: none;
        padding-left: 0px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
}
